<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <title th:text="${post.title}"></title>
</head>

<body>
    <header class="text-center">
        <h1 class=""><a href="/" class="text-dark">My Very Awesome Blog</a></h1>
    </header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" th:each="static : ${statics}">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:text="${static.title}" th:href="@{/post(id=${static.id})}"><span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>

        <div class="btn" sec:authorize="isAnonymous()"><a href="/login">Login</a></div>
        <div class="btn" sec:authorize="isAuthenticated()"><a href="/user">My Account</a></div>
        <div class="btn" sec:authorize="isAuthenticated()">
            <a>
                <form class="form-inline" method="POST" action="/logout">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <button class="btn btn-link" id="submit" type="submit">Logout</button>
                </form>
            </a>
        </div>
    </nav>

    <main>
        <h2 th:text="${post.title}"></h2>
        <article th:utext="${post.body}"></article>
        <div th:each="hashtag : ${post.hashtags}">
            <a th:href="@{/postsByHashtag(hashtagId=${hashtag.id})}" th:text=" '#' + ${hashtag.tag}|"></a>
        </div>
        <h4>Written by <a th:href="@{/postsByCreator(userId=${post.user.id})}"
                th:text="${post.user.username}"></a></h4>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="#" th:href="@{/postEdit(id=${post.id})}">Edit</a>
        </div>
    </main>

    <section th:if="${!comments.isEmpty()}">
        <h3>Comments:</h3>
        <div th:each="comment : ${comments}">
            <h6 th:text="${comment.user.username} + ' ' + ${#temporals.format(comment.ldt, 'MM-dd-yyyy HH:mm')}"></h6>
            <p th:text="${comment.text}"></p>
        </div>
    </section> <!-- END OF COMMENTS-->

    <section sec:authorize="isAnonymous()">
        <h3>Log in to leave a comment.</h3>
    </section> <!-- Tells you to log in -->

    <section th:if="${comments.isEmpty()}" sec:authorize="isAuthenticated()">
        <h3>Be the first to leave a comment.</h3>
    </section> <!-- Leave a comment -->

    <section sec:authorize="isAuthenticated()">
        <div class="col-12 m-1 text-center" th:if="${!errors.isEmpty()}">
            <p class="alert alert-danger" th:each="error : ${errors}" th:text="${error.message}">Error message</p>
        </div>
        <form class="form-horizontal" role="form" action="/commentAdd" method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            
            <div class="form-group">
                <label for="text" class="col-md-4 control-label">Comment:</label>
                <textarea class = "form-control" name="text" id="text" cols="15" rows="5" placeholder="Write comment here!"></textarea>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="hidden" name="postId" id="postId" th:value="${post.id}"/> 
                    <input type="submit" class="btn" id="submit" value="Leave Comment"/>
                </div>
            </div>
        </form>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>